<footer>
    <div class="fondo-footer py-5" style="min-height: 300px; background-color: #3b3331; font-size: 1rem; font-weight: 700; line-height: 1.5;">
        <div class="container py-4" style="border: 1px dotted blue;">
            <div class="row">
                <div class="col-sm-12 col-md-4" style="color: #a5a2a1;">
                    <img src="/img/carousel1.jpg" alt="" class="img-fluid" style="height: 100px; width: 100%">
                    <br>
                    <p>la misiuon de las esculas lorem ipsum es brindar un grato pasatiempo blablbaa</p>
                </div>
                <div class="col-sm-12 col-md-4" style="color: #a5a2a1;">
                    <h6 class="title-footer" style="color: #fff">SERVICES</h6>
                    <div class="menu-service" >
                        <ul style="list-style: none">
                            
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-4" style="color: #a5a2a1;">
                    <h6 class="title-footer" style="color: #fff">CONTACT INFO</h6>
                    <p><span class="mr-2"><i class="fi-marker" style= "font-size: 1.5rem;"></i></span> 143 Street Front Sea.</p>
                    <p><span class="mr-2"><i class="fi-social-instagram" style= "font-size: 1.5rem;"></i></span> lorem insum</p>
                    <p><span class="mr-2"><i class="fi-telephone" style= "font-size: 1.5rem;"></i></span> 56 9 985854</p>
                </div>
            </div>

        </div>
        <div class="footer-bootom pt-4" style="color: #a5a2a1; font-weight: 500">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6" style="color: #faede8b9; font-weight: 500">
                         <a href="#" style="text-decoration: none">Free Souls</a>
                         -  Tourism United
                    </div>
                    
                    <div class="col-sm-6">
                        © 2018 United. All rights reserved.
                    </div>
                </div>
            </div>
            
        
    </div>
</footer>
