<section id="login">

    <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto" style="margin: 6rem auto">
				<div class="card">
					<div class="card-header">
						<h4>Reserve you Class</h4>
					</div>
					<div class="card-body">
						<form action="/" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-lg" placeholder="Date format day/month">
                            </div>
							 <div class="form-group">

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Section hours</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01">
                                        <option selected>Choose...</option>
                                        <option value="1">11:30 at 13:00</option>
                                        <option value="2">14:30 at 16:00</option>
                                        <option value="3">15:00 at 16:30</option>
                                        
                                    </select>
                                </div>
        
                            </div>
							<div class="form-group">
							

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text" for="inputGroupSelect01">Class</label>
                                    </div>
                                    <select class="custom-select" id="inputGroupSelect01">
                                        <option selected>Choose...</option>
                                        <option value="1">Grupal max 5 person</option>
                                        <option value="2">Personalizade max 2 person</option>
                                        
                                    </select>
                                </div>

							</div>
							<input type="submit" class="btn btn-primary btn-block" value="Save">
						</form>
					</div>
				</div>
			</div>	
    </div>
</div>

</section>
