<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto" style="margin: 6rem auto;">
				<div class="card">
					<div class="card-header">
						<h4>Add info Carousel</h4>
					</div>
					<div class="card-body">
						<form action="/" method="POST">
							<div class="form-group">
								<label for="title">Title</label>
								<input type="title" class="form-control" name="title">
							</div>
							<div class="form-group">
								<label for="description">Description</label>
								<input type="description" class="form-control" name="description">
							</div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>

							<input type="submit" class="btn btn-primary btn-block" value="Save">
						</form>
					</div>
				</div>
			</div>	
    </div>
</div>


